<div class="main">

  <h4>Formularios <small>template</small></h4>
  <hr>

  <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

    <div>
      <div class="form-group row" [ngClass]="{'is-invalid': nombre.errors?.minlength || nombre.errors?.required}">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">

          <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre"
            required minlength="5" #nombre="ngModel">

          <small *ngIf="nombre.errors?.required" class="form-text text-muted form-control-feedback">Este campo es requerido.</small>
          <small *ngIf="nombre.errors?.minlength"  class="form-text text-muted form-control-feedback">Este campo requiere por lo menos 
            {{nombre.errors.minlength.requiredLength}} caracteres.</small>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">

          <input type="text" class="form-control" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido"
            required minlength="5" #apellido="ngModel">

            <small *ngIf="apellido.errors?.required" class="form-text text-muted">Este campo es requerido.</small>
          <small *ngIf="apellido.errors?.minlength"  class="form-text text-muted">Este campo requiere por lo menos {{apellido.errors.minlength.requiredLength}} caracteres.</small>

        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-8">

          <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="usuario.email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">

          <small *ngIf="email.errors?.required" class="form-text text-muted">Este campo es requerido.</small>

          <small *ngIf="email.errors?.pattern"  class="form-text text-muted">Este campo requiere un email valido.</small>


        </div>
      </div>
      <button class="btn btn-dark">Enviar</button>

    </div>

  </form>
</div>
